black
pydantic
pylint
pytest
watchdog

fastapi
requests
# fastapi_utils
# chevron
# lxml
# lxml-stubs
# python-ldap
# python-multipart
# redis
# types-redis
# requests_toolbelt
# SQLAlchemy
# uvicorn
# webui
